.checkoutproduct{
    display: flex;
    margin-top:20px;
    margin-bottom: 20px;
    background-color: #e8e8e4;
}
.checkoutproduct_info{
    padding-left: 20px;
}
.checkoutproduct_info > button {
    background: #9b2226;
    border: 3px solid #005f73;
    margin-top: 10px;
    color: white;
}
.checkoutproduct_image{
   
    width: 180px;
    height: 150px;
}
.checkoutproduct_rating{
    display: flex;
}
.checkoutproduct_title{
    font-size:17px ;
    font-weight: 800;
}